<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ajm.prototipo.prototipotelas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/EstiloTelaLogin">
        <activity android:name="br.com.trabalhosemestral.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.trabalhosemestral.activity.CadastroUsuarioActivity" />
        <activity
            android:name="br.com.trabalhosemestral.activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/EstiloTelaLogin">

        </activity>
        <activity android:name="br.com.trabalhosemestral.activity.CadastroProdutoActivity"></activity>
        <activity android:name="br.com.trabalhosemestral.activity.ProdutosCadastradosActivity"></activity>
        <activity android:name="br.com.trabalhosemestral.activity.ProducaoActivity"></activity>
        <activity android:name="br.com.trabalhosemestral.activity.ProducaoListaActivity"></activity>



    </application>


</manifest>